<!DOCTYPE html>
<html lang="en" th:replace="layout/layout :: layout (~{::title}, ~{::main})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <div class="container" th:object="${chapter}">
        <form th:action="@{/chapter/modify/{chapterId}(chapterId = ${chapter.chapterId})}" method="post">
            <div class="border border-success">
                <div class="border-bottom">
                    <h4 class="m-4 text-black-50">회차/공지 수정하기</h4>
                </div>
                <div class="m-4 border-bottom">
                    <h2 class="mb-4" th:text="${chapter.bookName}"></h2>
                </div>
                <div class="m-4">
                    <input type="text" th:value="${chapter.title}" class="form-control border-bottom" id="title"
                           name="title" placeholder="제목"
                           style="height: 50px">
                </div>
                <div class="m-4">
                <textarea class="form-control border-bottom" th:text="${chapter.content}" id="content" name="content" style="height: 800px"
                          placeholder="내용"></textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="mb-4 btn btn-outline-info">수정하기</button>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>