<!DOCTYPE html>
<html lang="en" th:replace="layout/layout :: layout (~{::title}, ~{::main})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>책 정보 수정</title>
</head>
<body>
<main>
    <div class="container">
        <form th:action="@{/book/modify/{bookId}(bookId = ${bookId})}" th:object="${bookId}" method="post" enctype="multipart/form-data">
            <h4>책 수정</h4>
            <div th:object="${bookInfo}">
                <div class="col">
                    <div class="row">
                        <label for="bookName">책 제목</label>
                        <input type="text" id="bookName" name="bookName" th:value="${bookInfo.bookName}">
                    </div>
                    <div class="row">
                        <label for="bookImg">이미지</label>
                        <input type="file" id="bookImg" name="bookImg">
                        <img th:src="${bookInfo.bookImg != null} ? @{'/upload/' + ${bookInfo.bookImg}} : @{'/IMG/base_book_img.png'}"
                             style="border-radius: 10px;width: 120px;height: 150px;"/>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="genre">장르</label>
                            <select id="genre" name="genre">
                                <option th:each="genre : ${Genre}" th:value="${genre.name()}"
                                        th:text="${genre.getGenreName()}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label for="bookIntroduction">책 소개</label>
                        <textarea id="bookIntroduction" name="bookIntroduction" maxlength="300"
                                  style="height: 300px;" th:text="${bookInfo.bookIntro}"></textarea>
                        <div id="remaining"></div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary w-100 py-2" type="submit">저장</button>
                </div>
            </div>
        </form>
    </div>


    <script>
        var textarea = document.getElementById('bookIntroduction');
        var remaining = document.getElementById('remaining');

        textarea.addEventListener('input', function () {
            var currentLength = this.value.length;
            var maxLength = this.getAttribute('maxlength');
            var charsLeft = maxLength - currentLength;

            remaining.textContent = charsLeft + ' 글자 남음';
        });
    </script>
</main>
</body>
</html>