<!DOCTYPE html>
<html lang="en" th:replace="layout/layout :: layout (~{::title}, ~{::main})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>책 정보</title>
</head>
<body>
<main>
    <div class="mb-5 border-bottom border-success" th:object="${bookInfo}">
        <div class="info-group row mt-5 mb-5">
            <div class="col-auto">
                <img th:src="${bookInfo.bookImg != null} ? @{'/upload/' + ${bookInfo.bookImg}} : @{'/IMG/base_book_img.png'}" style="border-radius: 10px;width: 200px;height: 250px;">
            </div>
            <div class="col-8 d-flex align-items-start flex-column bd-highlight mb-3">
                <div class="title mb-auto p-2 bd-highlight">
                    <h4 th:text="${bookInfo.bookName}"></h4>
                </div>
                <div class="intro p-2 bd-highlight">
                    <div class="text-break" th:text="${bookInfo.getBookIntro()}"></div>
                </div>
                <div class="ap-2 bd-highlight">
                    <a><div class="btn btn-outline-success col m-2">첫회보기</div></a>
                </div>
            </div>
        </div>
    </div>
    <div class="chapterList">
        <ul>
            <li class="m-3" th:each="chapter : ${chapterList}">
                <a th:href="@{/chapter/view/{chapterId}(chapterId = ${chapter.id})}"><div class="h5" th:text="${chapter.title}"></div></a>
            </li>
        </ul>
    </div>
</main>
</body>
</html>