<!DOCTYPE html>
<html lang="en" th:replace="layout/layout :: layout (~{::title}, ~{::main})"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>책 정보</title>
</head>
<body>
<main>
    <div th:insert="~{fragment/my_info_nav :: my_info_nav}"></div>
    <div th:object="${myBookInfo}">
        <div class="info-group row mt-5 mb-5">
            <div class="col-auto">
                <img th:src="${myBookInfo.bookImg != null} ? @{'/upload/' + ${myBookInfo.bookImg}} : @{'/IMG/base_book_img.png'}" style="border-radius: 10px;width: 200px;height: 250px;">
            </div>
            <div class="col-8 d-flex align-items-start flex-column bd-highlight mb-3">
                <div class="title mb-auto p-2 bd-highlight">
                    <h4 th:text="${myBookInfo.bookName}"></h4>
                </div>
                <div class="intro p-2 bd-highlight">
                    <div class="text-break" th:text="${myBookInfo.getBookIntro()}"></div>
                </div>
                <div class="ap-2 bd-highlight">
                    <div class="btn btn-outline-dark col m-2">작품 정보 수정</div>
                    <div class="btn btn-outline-dark col m-2">회차/공지 쓰기</div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>