<!DOCTYPE html>
<html lang="en" th:replace="~{layout/layout :: layout (~{::title}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <div th:insert="~{fragment/my_info_nav :: my_info_nav}"></div>

    <div>
        <ul class="my-book-list" id="my-book-list">
            <li class="m-3" th:each="myBook : ${myBookList}">
                <div class="row d-flex justify-content-between">
                    <a class="col" th:href="@{'/member/my_book/' + ${myBook.getBookId()}}">
                        <div class="row">
                            <div class="col-auto">
                                <img th:src="${myBook.bookImg != null} ? @{'/upload/' + ${myBook.bookImg}} : @{'/IMG/base_book_img.png'}"
                                     style="border-radius: 10px; width: 120px;height: 150px;"/>
                            </div>
                            <div class="col d-flex align-items-center">
                                <h3 th:text="${myBook.bookName}"></h3>
                            </div>
                        </div>
                    </a>
                    <div class="col-5 d-flex align-items-center">
                        <div class="row-5">
                            <a th:href="@{/book/modify/{bookId}(bookId = ${myBook.bookId})}"><div class="btn btn-outline-dark col me-2">작품 정보 수정</div></a>
                            <a><div class="btn btn-outline-dark col me-2">회차/공지 쓰기</div></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div th:if="${myBookSliceDto.hasNext}">
        <button id="moreBooks">더 보기</button>
    </div>

    <script th:inline="javascript">
        let pageNumber = 0;
        $(document).ready(function () {
            $('#moreBooks').click(function () {
                $.ajax({
                    url: '/member/my_book/more',
                    data: {pageNumber: pageNumber + 1},
                    type: 'GET',
                    success: function (response) {
                        var myBookList = response.myBookList;
                        var myBookSliceDto = response.myBookSliceDto;

                        myBookList.forEach(function (book) {
                            var imagePath = book.bookImg ? '/upload/' + book.bookImg : '/IMG/base_book_img.png'; // 예시 경로, 실제 경로로 변경 필요
                            var bookUrl = '/member/my_book/' + book.bookId;
                            var bookElement = '<li><a href="' + bookUrl + '"><img src="' + imagePath + '"><span>' + book.bookId + '</span> <span>' + book.bookName + '</span></a></li>';
                            $('.my-book-list').append(bookElement);
                        });
                        if (!myBookSliceDto.hasNext) {
                            $('#moreBooks').hide();
                        }
                        pageNumber++;
                    }
                });
            });
        });
    </script>
</main>
</body>
</html>