<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내정보</title>
</head>
<body>
<main th:fragment="my_info_nav">
    <div class="mb-3">
        <div class="d-flex flex-md-wrap border-bottom border-3 border-black">
            <div class="my_info_nav-link rounded-top-3" th:data-name="view">
                <a class="m-2 p-2 fw-bolder fs-4" th:href="@{~/member/my_view}"> 최근 본 작품 </a>
            </div>
            <div class="my_info_nav-link rounded-top-3" th:data-name="subscribe">
                <a class="m-2 p-2 fw-bolder fs-4" th:href="@{~/member/subscribe_book}"> 관심 작품 </a>
            </div>
            <div class="my_info_nav-link rounded-top-3" th:data-name="my_info">
                <a class="m-2 p-2 fw-bolder fs-4" th:href="@{~/member/my_info}" > 프로필 </a>
            </div>
            <div class="my_info_nav-link rounded-top-3" th:data-name="my_book">
                <a class="m-2 p-2 fw-bolder fs-4" th:href="@{~/member/my_book}">내 작품</a>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const currentURL = window.location.href;

            console.log(currentURL);
            const tabs = document.querySelectorAll('.my_info_nav-link');

            tabs.forEach(tab => {
                // 탭의 data-name 속성 값을 가져옵니다.
                const name = tab.dataset.name;

                // 현재 URL에 탭의 이름이 포함되어 있는지 확인합니다.
                if (currentURL.includes(name)) {
                    // 이름이 포함되어 있으면 해당 탭에 'active' 클래스를 추가합니다.
                    tab.classList.add('border-end', 'border-start', 'border-top', 'border-3', 'border-black');
                } else {
                    // 아니라면 'active' 클래스를 제거합니다.
                    tab.classList.remove('border-end', 'border-start', 'border-top', 'border-3', 'border-black');
                }
            });
        });

    </script>
</main>
</body>
</html>